
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {

}

header {
  background-image: url("/imgs/mountcook.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 100px;
  margin-top: 5px;
  letter-spacing: 1px;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
}

section {
  padding: 30px;
}

// Header
.title {
  text-align: center;
}
.subline {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  .subtitle {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 0 10px;
  }
  .deco {
    height:13px;
  }
}

// NAVIGATION //
.navbar {
  position: absolute;
  width: 100%;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

.navbar-inverse {
  .navbar-brand {
    color: #30425d;
    .navbar-logo {
      height: 40px;
      width: auto;
    }
  }
}

.navbar-nav {
  .nav-item {
    list-style: none;
    margin: 10px;
    padding: 10px;
    border-bottom: white 2px solid;
    .nav-link {
      color: white;
      text-transform: uppercase;
    }
  }
}

// introduction
.introduction {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  .text {
    grid-column: 2 / 3;
    text-align: center;
  }
}
