
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background-color: white;
}

h1 {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 120px;
  margin-top: 5px;
  letter-spacing: 1px;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 90px;
  font-weight: 900;
  margin-bottom: 30px;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 45px;
  margin-bottom: 0;
  margin-top: 50px;
}

section {
  padding: 75px 30px;
  text-align: center;
}

.subtitle {
  text-transform: uppercase;
}

// Header
.front-page-header {
  background-image: url("/imgs/mountcook.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .title {
    text-align: center;
  }
  .subline {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    .subtitle {
      letter-spacing: 2px;
      font-size: 22px;
      margin: 0 10px;
    }
    .deco {
      height:13px;
    }
  }
  .header-border {
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: auto;
  }
}


// NAVIGATION //
.navbar {
  position: absolute;
  width: 100%;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
}

.navbar-inverse {
  .navbar-brand {
    color: #30425d;
    .navbar-logo {
      height: 40px;
      width: auto;
    }
  }
}

.navbar-nav {
  .nav-item {
    list-style: none;
    margin: 10px;
    padding: 10px;
    border-bottom: white 2px solid;
    .nav-link {
      color: white;
      text-transform: uppercase;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

// introduction
.introduction {
  display:grid;
  grid-template-columns: 1fr 52% 1fr;
  grid-template-rows: 20px 1fr;
  .text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    z-index: 20;
    padding: 0 20px;
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
  }
  .background-image {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      opacity: 0.3;
    }
  }
}

// gallery
.gallery {
  width: 100%;
  padding: 75px 0;
  .slider {
    width: auto;
    .photo-slide {
      height: 600px;
      width: auto;
    }
    button {
      position: absolute;
      top: 0;
      height: 100%;
      width: 50px;
      z-index: 500;
      border: none;
      background-color: RGBA(244, 247, 249, 0.6);
      font-size: 36px;
      font-weight: bold;
      &.slick-next {
        right: 0;
      }
      &.slick-prev {
        left: 0;
      }
      &:focus {
        outline-color: #adacac;
        outline-style: auto;
        outline-width: 5px;
      }
    }
  }
}
//Planning section
.planning {
  display: grid;
  grid-template-columns: 1fr 33% 33%;
  grid-template-rows: 257px 790px 1fr 1fr;
  grid-column-gap: 50px;
  .photo-feature {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    width: 100%;
    height: auto;
  }
  .planning-card {
    grid-column: 2 / 4;
    grid-row: 1 / 5;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 186px 3fr;
    padding: 50px 40px;
    margin-top: 15px;
    -webkit-box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.16), -2px -2px 26px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.16), -2px -2px 26px 0px rgba(0,0,0,0.16);
    box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.16), -2px -2px 26px 0px rgba(0,0,0,0.16);
    text-align: left;
    .map-illustration {
      position: relative;
      top: -50px;
      left: -40px;
      z-index: -1;
      height: 130%;
    }
    .planning-heading {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      .subtitle {
        color: #00afec;
        letter-spacing: 0.25em;
        font-weight: bold;
      }
    }
    .planning-intro {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      font-size: 15px;
    }
  }
}
// Discovery
.discoveries {
  display: grid;
  grid-template-columns: 1fr 33% 33%;
  grid-template-rows: 100px 250px;
  grid-column-gap: 50px;
  text-align: left;
  .initial {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 320px;
    height: auto;
  }
  .discover-heading {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  h3 {
    margin-top: 0;
  }
  .subtitle {
    color: #00afec;
    letter-spacing: 0.25em;
    font-weight: bold;
  }
  p {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  p + p{
    grid-column: 3/4;
  }
}

.gallery-static {
  width: 100%;
  padding: 75px 0;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 648px;
  align-items: center;
  .gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 640px;
    background-color: #636b6f;
    &:hover {
      height: 648px;
      overflow: visible;
    }
  }
  .gallery-image {
    height: 640px;
    width: auto;
    opacity: 0.4;
    &:hover {
      opacity: 1;
      height: 648px;
      z-index: 500;
    }
  }
}

.wildlife {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 250px;
  grid-column-gap: 50px;
  header {
    grid-column: 1/4;
    grid-row: 1/2;
    img {
      opacity: 0.3;
      height: 90%;
      width: auto;
    }
  }
  .fact {
    .subtitle {
      color: #00afec;
      letter-spacing: 0.15em;
      font-weight: bold;
    }
    hr {
      width: 50px;
      margin: 12px auto;
    }
  }
}
